
i{
    transition-property: transform;
    transition-duration: .2s;
}

.rotatedIcon {
    transform: rotate(90deg);
}

nav{
    padding-top: 20px;
    width: 100%;
    height: 100%;

    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

nav label{
    display: inline-block;
    width: 100%;

    margin-bottom: 4px;
}

ul.University, ul.Logica{
    opacity: 0;
    transform: scaleY(0);

    transition: transform 100ms, opacity 100ms;
    transform-origin: top;

}

input[type="checkbox"]#Universidad:checked ~ ul.University{
    opacity: 1;
    transform: scaleY(1);

}

input[type="checkbox"]#Logica:checked ~ ul.Logica{
    opacity: 1;
    transform: scaleY(1)    
}


li, ul{
    
    list-style: none;
    margin-left:10px;
}

li span{
    font-weight: bold;
    
}


a{
    text-decoration: none;
    color: var(--font-color);
}