* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


div.app{

    width: 100%;
    height: 100%;

    padding: 50px 5vw;
    overflow-y: auto;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'IBM Plex Mono', monospace;
}


section.main{

    width: 100%;
    height: 30%;
    max-height: 200px;

    display: flex;
}


textarea{
    width: 100%;
    height: 100%;
    
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;

    background-color: #f8f8f8;
    
    font-size: 20px;
    resize: none;

}


div.containAll{
    width: 15%;
    height: 100%;
    min-width: 175px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--menu-color);
    align-items: center;

}


div.container{
    width: 100%;
    height: 90%;

    overflow-y: auto;

    padding:20px;
}


section.elements{

    width: 100%;
    height: auto;

    background-color: var(--menu-color);

    display: flex;
    flex-direction: row;
    
    padding:10px 0px 10px 10px;

}

section.elements div.symbols{
    width: 90%;
    height: 100%;

    display: flex;
}

section.elements div.symbols div.operators{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . negation "
      ". . . negation";
}

section.elements div.symbols div.operators button{
    font-size: 20px;
    padding:5px;

    background-color: var(--main-color);
    border: .5px solid black;
    border-radius: 3px;

}

section.elements div.symbols div.operators button:last-child{

    height: 100%;
}


section.elements div.symbols div.variables{
    width: 50%;
    height: 100%;
}

section.elements div.button{
    width: 15%;
    height: auto;
    min-width: 175px;
    
    padding:5px 20px;
}

section.elements div.button button{
    width: 100%;
    height: 100%;

    background-color: var(--button-color);
    border: 2px solid rgb(26, 26, 26);

    border-radius: 3px;
    transition: all .2s ease-in-out;

    font-size: 16px;
    font-weight: 500;

}

section.elements div.button button:hover{
    transform: scale(102%);
}

.operators {  display: grid;}

.negation { grid-area: negation;}

section.results{
    display:flex;

    align-items: center;
    /*justify-content: center;*/

    height: auto;
    margin-top:50px;
    overflow-x: auto;

    margin-bottom: 100px;
}

